.btn{
    width: 50%;
}
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .btn{
        width: 75%;
    }
  }

.container{
    
    padding-top: 3em;
    margin: 0;
    text-align: center;
}

.border{
    border: none;
    padding: 0px;
    margin: 0px;
}