<!-- <h1>Trete einer Gruppe bei um deine Ergebnisse mit anderen zu vergleichen</h1>

<div><button mat-flat-button>Gruppe 1</button></div>
<div><button mat-flat-button>Gruppe 2</button></div>
<div><button mat-flat-button ><mat-icon>control_point</mat-icon> Neue Gruppe Anlegen</button></div>

<p>Ohne Gruppe fortfahren</p>

-->

<div class="container">
    <div class="mat-title">Trete einer Gruppe bei um deine Ergebnisse mit anderen zu vergleichen</div>
    <br>
    <div class="margin"><button class="btn" mat-flat-button>Gruppe 1 <mat-slide-toggle
        [checked]="false">
    </mat-slide-toggle></button></div>
    <div class="margin"><button class="btn" mat-flat-button>Gruppe 2 <mat-slide-toggle
        class="example-margin"
        [checked]="false">
    </mat-slide-toggle></button></div>
    <div class="margin"><button class="btn" mat-stroked-button><mat-icon>control_point</mat-icon> Neue Gruppe Anlegen</button></div>
    <div class="mat-caption margin"><a href="#">Ohne Gruppe fortfahren</a></div>
    
</div>